@charset "utf-8";
/* CSS Document */

*{margin:0;padding:0;}

body{overflow:hidden;}
#swiper-v{ position:relative; width:100%;height:100%;}

.swiper-slide{position:absolute; overflow:hidden; background:#FFF;}
.swiper-slide img{clear: both; display: block; margin:auto; position:absolute;}